/OneDrive/Documentos/NetBeansProjects/RevisaoJava/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/RevisaoJava2022/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/RevisaoJava2022/build/
/OneDrive/Documentos/NetBeansProjects/RevisaoJava2022/dist/
/OneDrive/Documentos/NetBeansProjects/RevisaoJava2/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/WebTeste2022/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/WebTeste2022/build/
